
/*
   Cores
   ========================================================================== */
   $black: #000000;
   $white: #ffffff;
   $color01: #FAA500;
   $color02: #353535;
   $color03: #EFEFEF;
   $color04: #fafafa;
   
/*
   Fontes
   ========================================================================== */
   @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

   $font-rounded: 'Titillium Web', Helvetica, Arial, sans-serif;
    