@charset "UTF-8";

/* ==========================================================================
settings
========================================================================== */
@import "./settings/_reset";
@import "./settings/_normalize";
@import "./settings/_mixins";
@import "./settings/_sprite";
@import "./settings/_variables";

/* ==========================================================================
Helps
========================================================================== */
@import "./helpers/_base";

/* ==========================================================================
Components
========================================================================== */
@import "./components/_header";
@import "./components/_footer";

/* ==========================================================================
pages
========================================================================== */
@import "./pages/_home";

.vitrine {
  .swiper {
    width: 100%;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 0;
}

.swiper-button-prev,
.swiper-button-next {
  width: 20px;
  height: 32px;
}

.swiper-button-prev {
  left: 5%;
  background-image: url("/build/arquivos/svgs/home/icon-prev-slider.svg");
}

.swiper-button-next {
  right: 5%;
  background-image: url("/build/arquivos/svgs/home/icon-next-slider.svg");
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 1px solid #faa500;
  background-color: transparent;
  opacity: 1;

  @include bkp("desktop") {
    border: 2px solid #faa500;
    width: 16px;
    height: 16px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #faa500;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@include bkp("mobile") {
  .vitrine {
    .swiper-slide {
      width: 95%;
      @include bkp("mobile") {
        padding-right: 10px;
      }
    }
  }

  .swiper-slide:nth-child(2n) {
    width: 95%;
  }

  .swiper-slide:nth-child(3n) {
    width: 95%;
  }
}

.slider-mob {
  .swiper-slide {
    img {
      width: auto;
    }
  }
}

@include bkp("mobile") {

.p-accordion__list {
  list-style-type: none;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.p-accordion__tab {
  background-color: inherit;
  border: 0;
  border-radius: 0;
  font-size: inherit;
  justify-content: flex-start;
  margin-bottom: 0;
 // padding-right: 1rem;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 2;
}

.p-accordion__tab:focus {
  outline: 0.1875rem solid #2e96ff;
  outline-offset: -0.1875rem;
}

.p-accordion__tab:focus-visible {
  outline: 0.1875rem solid #2e96ff;
  outline-offset: -0.1875rem;
}

.p-accordion__tab:focus:not(:focus-visible) {
  outline: 0;
  outline-offset: 0;
}

.p-accordion__tab::after {
  transition-duration: 0.165s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "-";
  //margin-right: 1rem;
}

.p-accordion__tab[aria-expanded="true"] {
  background-color: inherit;
  transition-duration: 0.333s;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "+";
}

.p-accordion__tab[aria-expanded="true"]:hover {
  //background-color: #f2f2f2;
}

.p-accordion__tab[aria-expanded="false"] {
  transition-duration: 0.333s;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.p-accordion__tab[aria-expanded="false"]::after {
  content: "+";
  transform: rotate(-90deg);
}

.p-accordion__heading {
  margin-bottom: 0;
  max-width: none;
  padding-top: 0;
}

.p-accordion__heading > .p-accordion__tab {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.p-heading--2 > .p-accordion__tab::before,
h2.p-accordion__heading > .p-accordion__tab::before {
  background-size: contain;
  height: 0.517em;
  width: 0.517em;
  vertical-align: 0;
}

.p-heading--3 > .p-accordion__tab::before,
.p-heading--4 > .p-accordion__tab::before,
h3.p-accordion__heading > .p-accordion__tab::before,
h4.p-accordion__heading > .p-accordion__tab::before {
  vertical-align: 0;
}

.p-accordion__panel {
  margin: 0;
  overflow: auto;
  padding-left: 3rem;
  transition-duration: 0.165s;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.p-accordion__panel[aria-hidden="true"] {
  height: 0;
  opacity: 0;
  transform: translate3d(0, -0.5rem, 0);
  visibility: hidden;
}

.p-accordion__panel[aria-hidden="false"] {
  height: auto;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.p-accordion__panel.has-tick-elements {
  padding-left: 1em;
}

}

.p-modal {
  background: rgba(17, 17, 17, 0.85);
  bottom: 0;
  display: flex;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 150;
  
  @include bkp("desktop") {
    justify-content: center;
    align-items: center;
  }

}

.p-modal__dialog {
  margin-bottom: 0;
  max-height: calc(100% - 2rem);
  max-width: 848px;
  padding-top: 0;
  position: absolute;
  background-color: #fff;
  width: 90%;

  @include bkp("mobile") {
    top: 20%;
  }
  
  @include bkp("desktop") {
    width: 100%;
    right: 1.5rem;
    left: 1.5rem;

  }
}

@media (min-width: 1036px) {
  .p-modal__dialog {
    bottom: initial;
    left: initial;
    position: relative;
    right: initial;
    top: initial;
  }
}

.p-modal__header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-right: 2rem;
  padding-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.p-modal__title {
  align-self: flex-end;
}

.p-modal__close {
  border: 0;
  box-sizing: content-box;
  margin: 0;
  position: absolute;
  right: 0;
  top: -30px;
  color: #fff;
  text-transform: uppercase;
}

.p-modal__close:focus {
  outline: 0.1875rem solid #2e96ff;
}

.p-modal__footer {
  padding-top: 1rem;
  text-align: right;
}

.banner {
  .box {
    position: absolute;
    top: 20%;
    z-index: 99999;
    left: 15%;
    width: 50%;
    text-align: left;
    margin: 0 auto;
    color: #fff;

    @include bkp("desktop") {
      top: 30%;
    }

    h3 {
      font-size: 30px;

      @include bkp("desktop") {
        font-size: 40px;
      }
    }

    p {
      font-size: 14px;
      margin: 20px 0 10px;

      @include bkp("desktop") {
        line-height: 28px;
        margin: 30px 0;
        font-size: 20px;
      }
    }

    a {
      background-color: #faa500;
      color: #fff;
      border-radius: 8px;
      display: inline-flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      @include bkp("desktop") {
        padding: 14px 30px;
      }
    }
  }
}

.swiper-pagination {
  bottom: 20px;
}

.p-modal {
  .content {
    display: flex;

    > div {
      @include bkp("desktop") {
        width: 50%;
      }
    }

    .image {
      @include bkp("mobile") {
        display: none;
      }
    }

    .box {
      padding: 0 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include bkp("mobile") {
        width: 100%;
        padding: 10% 5%;
      }

      .text,
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .text {
        justify-content: center;
        text-align: center;

        * {
          display: block;
        }

        span {
          font-size: 12px;
          color: #464b54;
          text-transform: uppercase;
          margin: 20px 0;
        }

        p {
          color: #787d83;
          font-size: 20px;

          @include bkp("mobile") {
            line-height: 22px;
          }
        }
      }

      form {
        width: 100%;
        margin-top: 30px;

        input {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          border: 1px solid #c4c4c4;
          padding: 10px;
          font-size: 12px;
          color: #787d83;
          margin-bottom: 10px;
        }
        button {
          border-radius: 10px;
          background: #faa500;
          height: 40px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          text-transform: uppercase;

          span {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
